/* ==============google font============= */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


/* =================common css =================*/
body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: #161616;
    width: 1300px;
    border-radius: 25px;
    padding-bottom: 50px;
}


/* banner-part */

.banner-detels .text h1 {
    font-family: 'Poppins', sans-serif;
    width: 470px;
    font-size: 70px;
    color: #ffffff;
}

.banner-detels {
    margin-left: 60px;
    display: flex;
    padding: 60px;
}

.banner-detels .text p {
    font-family: 'Poppins', sans-serif;
    width: 506px;
    font-size: 16px;
    color: #ffffff;
    margin-top: -45px;
    margin-bottom: 40px;
}

.banner-detels .text a {
    text-decoration: none;
    background-color: green;
    padding: 10px 20px;
    border-radius: 5px;
    color: #ffffff;
    margin-bottom: 30px;
    transition: .5s;
}

.banner-detels .text a:hover {
    background-color: #ffffff;
    color: green;
}

.fa-angle-right {
    margin-left: 10px;
}

.banner-img img {
    width: 100%;
}

/* ===================football-part===================== */
.bg {
    background-color: transparent;
    margin-top: 130px;
}

.teams {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.blogs-part {
    width: 25%;
    background-color: #161616;
    border-radius: 10px;
    text-align: center;
    height: 312px;
}

.team-part {
    width: 72%;
}

.blogs-part .text {
    width: 200px;
    margin-left: 35px;
}

.blogs-part h2 {
    background-color: #ffffff;
    padding: 15px 20px;
    font-size: 20px;
    color: #161616;
    border-radius: 10px;
    width: 200px;
    padding: 25px;
}

.blogs-part .text .hvr {
    background-color: green;
    color: #ffffff;
    transition: .5s;
    border: 1px solid transparent;
}

.blogs-part .text .hvr:hover {
    background-color: #727272;
    color: lightgrey;
    border: 1px solid lightgray;
}

.football {
    display: flex;
    justify-content: space-between;
}

.team-banner img {
    width: 100%;
    border-radius: 10px;
}

.team {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    -webkit-box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.52);
    box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.52);
}

.team-txt {
    grid-gap: 20px;
}

.text-gap {
    margin-left: 20px;
}

.team-detail h2 {
    font-size: 18px;
}

.team-detail h4 {
    border: 1px solid #161616;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
    padding: 4px 10px;
}

.fa-message {
    margin-left: 15px;
}

.team-duration {
    margin-bottom: 20px;
}

.team-part a {
    text-decoration: none;
    background-color: green;
    padding: 10px 20px;
    border-radius: 5px;
    color: #ffffff;
    margin-bottom: 30px;
    transition: .5s;
    opacity: 0;
}

.team-part a:hover {
    background-color: #727272;
    color: #ffffff;
}

.team-detail .german {
    font-size: 24px;
    text-align: center;
}

.team-detail .aprl {
    font-size: 16px;
    text-align: center;
}

.team .card {
    display: flex;
    padding: 15px;
}

.team .card img {
    width: 100%;
}

.team .card .bnrs {
    /* margin-left: 30px; */
}

.team .card h2 {
    padding-left: 10px;
    padding-right: 10px;
}

/* =========footrt-part=============== */
.foter {
    background-color: #161616;
    border-radius: 0;
    width: 1089px;
    padding: 130px;
}

.footer-part {
    text-align: center;
}

.footer-part h1 {
    font-size: 40px;
    color: #ffffff;
}

.footer-part p {
    font-size: 16px;
    color: #B9B9B9;
    display: inline-block;
    margin-left: 20px;
}

hr {
    width: 900px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.icon {
    text-align: center;
    margin-top: 40px;
}

.icon i {
    background-color: #f9f9f9;
    color: #727272;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    margin-left: 15px;
    transition: .5s;
}

.icon i:hover {
    background-color: green;
    color: #f9f9f9;
    transform: scale(1.1);
}


/*=============== media queries=================== */

/* =================mobile devices-start================= */
@media only screen and (max-width:688px) {

    .container {
        width: 407px;
    }

    .banner-detels {
        display: block;
    }

    .banner-img img {
        width: 100%;
        margin-top: 40px;
        margin-left: -27px;
    }

    .banner-detels .text h1 {
        width: 244px;
        color: #ffffff;
        text-align: center;
        margin-bottom: 62px;
        font-size: 24px;
        margin-left: -40px;
    }


    .banner-detels .text p {
        width: 329px;
        font-size: 15px;
        color: #ffffff;
        text-align: center;
        margin-left: -80px;
    }

    .banner-detels .text a {}

    .football {
        width: 100%;
        display: block;
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
    }

    .blogs-part {
        background-color: transparent;
    }

    .blogs-part h2 {
        background-color: #727272;
        padding: 10px;
    }

    .blogs-part .text {
        margin-left: 85px;
    }

    .team-part {
        width: 100%;
    }

    .teams {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-part p {
        display: block;
    }

    .foter {
        width: 148px;
        padding: 130px;
    }

    hr {
        width: 200px;
        margin-left: -20px;
    }

    .icon {
        margin-left: -115px;
        margin-right: -120px;
    }
}

/* =================mobile devices-start================= */


/* ================= ipad devices start================= */

@media only screen and (min-width:688px) and (max-width:992px) {
    /* .container {
        width: 1250px;
    } */

    .banner-detels {
        margin-left: 210px;
        display: flex;
        padding: 60px;
    }

    .banner-detels .text h1 {
        width: 447px;
        font-size: 49px;
    }

    .banner-detels .text p {
        margin-top: -20px;
    }

    .team-part {
        width: 100%;
    }

    .teams {
        grid-template-columns: repeat(2, 1fr);
    }

    .blogs-part {
        background-color: transparent;
    }

    .blogs-part h2 {
        background-color: #727272;
        padding: 5px 70px;
        text-align: center;
        margin-left: 20px;
    }

    .blogs-part .text {
        margin-left: 10%;
        display: flex;
        margin-top: -160px;
    }

    .football {

        margin-top: 75px;
    }

    .team-part {
        width: 100%;
    }

    .team-detail h4 {
        font-size: 25px;
    }

    .team-part a {
        opacity: 1;
        text-align: center;
        margin-left: 50%;
        margin-top: 30px;
        padding: 10px;
    }

    .team-detail h2 {
        font-size: 28px;
    }

    .team-duration {
        font-size: 25px;
    }

    hr {
        width: 500px;
    }





}

/* ================= ipad devices end================= */